.App{
  display: flex;
  flex-direction: row;
}
.Form{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 40rem;
  margin: 2rem auto;
 align-items: center;
 justify-content: center;
 padding: 2rem;
 
}

form{
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  padding: 2rem;
  border-radius: 33px;
  border-radius: 33px;
  background: linear-gradient(225deg, #ffffff, #dddddd);
  box-shadow:  -19px 19px 24px #bababa,
               19px -19px 24px #ffffff;
  }

.Form>tr,td{
  padding: 1.5rem;
}

.UserDetails{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: auto;
  height: 25rem;
  padding: 2rem;
}

.UserDetails>table{
  width: 100%;
  background-color: rgba(109, 109, 117, 0.329);
  font-weight: bolder;
  font-family: serif;
}